# API framework
fastapi
uvicorn[standard]

# Data
pandas
numpy
requests
python-dotenv

# Config
pydantic
pydantic-settings

# Database
sqlalchemy
psycopg2-binary

# Geospatial
geopandas
shapely

# Machine learning
scikit-learn
lifelines
prophet
xgboost

# added later
python-multipart